*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   flex-direction: column;
   background-color: #3bb2c2;
}
.hours{
    font-size: 150px;
    font-weight: bold;
    color: rgb(238, 13, 178);
}
.minutes{
    font-size: 150px;
    font-weight: bold;
    color: rgb(238, 13, 178);
}
.seconds{
    font-size: 150px;
    font-weight: bold;
    color: rgb(238, 13, 178);
}
.ms{
    font-size: 150px;
    font-weight: bold;
    color: rgb(238, 13, 178);
}
button{
    padding: 7px 25px;
    font-size: 25px;
    margin: 0 10px;
    border: white;
    cursor: pointer;
    color: white;
    width: 150px;
    height: 50px;
    border: 2px solid rgb(255, 0, 238);
    border-radius: 15px;
    box-shadow: 0px 0px 2px 2px rgb(255, 127, 212) inset;
    text-transform: capitalize;
    background-color: rgb(212, 17, 66);
    
}
.properties{
    /* background-color: aquamarine; */
    margin-top: 80px ;
}